body {
    margin: 0;
    overflow: hidden;
}

#ex1 {
    width: 100vw; /* Ancho del 100% del viewport (pantalla) */
    height: auto;
    position: relative;
    overflow: hidden;
}

#ex1 img:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: moveCar 4s linear infinite;
    width: 40%; /* Ajusta el ancho según sea necesario */
}

@keyframes moveCar {
    0% {
        transform: translateX(-120%); /* Inicia fuera del panel para que no aparezca abruptamente */
    }
    100% {
        transform: translateX(120%); /* Ajusta según el ancho del panel */
    }
}

/* Ajusta el tamaño según sea necesario */
#ex1 img:nth-child(2) {
    max-width: 100%;
    height: auto;
}
